<link rel="icon" href="/index/img/core-img/favicon.ico">
<link rel="stylesheet" href="/index/Astyle.css">


<div class="container">


    <h3>會員文章管理</h3>
    <div class="tagcloud">
        <a asp-action="ArticleCreate" asp-controller="CArticle" class="btn nikki-btn btn-sm m-2">發布文章</a>
    </div>

    <table class="table table-hover">

        <tr class="TBC2">
            <td align="center" nowrap="nowrap">編號</td>
            <td>標題</td>
            <td align="center" nowrap="nowrap">發表時間</td>
            <td align="center" nowrap="nowrap">文章修改</td>
            <td align="center" nowrap="nowrap">文章刪除</td>
            <td align="center" nowrap="nowrap">被收藏次數</td>
            <td align="center" nowrap="nowrap">喜歡人數</td>


        </tr>

        <tr>
            <td align="center" nowrap="nowrap">1</td>
            <td>123</td>
            <td align="center" nowrap="nowrap">1小時前</td>
            <td align="center" nowrap="nowrap"><a asp-controller="CArticle" asp-action="ArticleEdit">修改</a></td>
            <td align="center" nowrap="nowrap"><a href="">刪除</a></td>
            <td align="center" nowrap="nowrap">15 </td>
            <td align="center" nowrap="nowrap"> 20</td>
        </tr>

        <tr>
            <td align="center" nowrap="nowrap">2</td>
            <td>胖雞胖雞</td>
            <td align="center" nowrap="nowrap">1小時前</td>
            <td align="center" nowrap="nowrap"><a asp-controller="CArticle" asp-action="ArticleEdit">修改</a></td>
            <td align="center" nowrap="nowrap"><a href="">刪除</a></td>
            <td align="center" nowrap="nowrap">25</td>
            <td align="center" nowrap="nowrap">13</td>
        </tr>
        <tr>
            <td align="center" nowrap="nowrap">3</td>
            <td>規劃完美小隊戰術！《No Plan B》今日釋出免費試玩版</td>
            <td align="center" nowrap="nowrap">1小時前</td>
            <td align="center" nowrap="nowrap"><a asp-controller="CArticle" asp-action="ArticleEdit">修改</a></td>
            <td align="center" nowrap="nowrap"><a href="">刪除</a></td>
            <td align="center" nowrap="nowrap">18</td>
            <td align="center" nowrap="nowrap">25</td>
        </tr>
        <tr>
            <td align="center" nowrap="nowrap">4</td>
            <td>成本太高！Google 宣布關閉自家 Stadia 遊戲開發團隊</td>
            <td align="center" nowrap="nowrap">1小時前</td>
            <td align="center" nowrap="nowrap"><a asp-controller="CArticle" asp-action="ArticleEdit">修改</a></td>
            <td align="center" nowrap="nowrap"><a href="">刪除</a></td>
            <td align="center" nowrap="nowrap">20</td>
            <td align="center" nowrap="nowrap">17</td>
        </tr>
        <tr>
            <td align="center" nowrap="nowrap">5</td>
            <td>《英靈神殿大亂鬥》年度電競賽事總獎金達 100 萬美元 廣邀全球高手一同競技</td>
            <td align="center" nowrap="nowrap">1小時前</td>
            <td align="center" nowrap="nowrap"><a asp-controller="CArticle" asp-action="ArticleEdit">修改</a></td>
            <td align="center" nowrap="nowrap"><a href="">刪除</a></td>
            <td align="center" nowrap="nowrap">8</td>
            <td align="center" nowrap="nowrap">6</td>
        </tr>
    </table>
</div>
