@using Microsoft.AspNetCore.Http
@using new_layout_core.Models;


@if (Context.Session.GetString(CDictionary.CURRENT_FORGOTPASSWORD_USERID) != null)
{
    ViewBag.USERFG = Context.Session.GetString(CDictionary.CURRENT_FORGOTPASSWORD_USERID);
    
}

<link rel="icon" href="/index/img/core-img/favicon.ico">
<link rel="stylesheet" href="/index/Astyle.css">


<section class="contact-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="contact-content mb-100">
                    <h4 style="margin-bottom:15px;">忘記密碼</h4>
                    <hr />

                    <div class="contact-form-area">
                        <form id="check-send-password">
                            <div class="form-group">
                                請輸入註冊信箱:
                                <input type="text" id="contact-name" name="email" class="btn nikki-btn btn-sm m-2">
                            </div>
                            <button type="button" class="btn nikki-btn btn-sm m-2" onclick="send()">確定</button>
                            <a asp-action="Login" class="btn nikki-btn btn-sm m-2">返回</a>
                        </form>
                        <div id="hideuserid">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="contact-content mb-100">
                    <img src="/img/Member/forgetpassword.png" style="width:570px;height:570px;margin-top:50px;" />
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="/index/js/jquery/jquery-2.2.4.min.js"></script>
<script src="/index/js/bootstrap/popper.min.js"></script>
<script src="/index/js/bootstrap/bootstrap.min.js"></script>
<script src="/index/js/plugins/plugins.js"></script>
<script src="/index/js/active.js"></script>
<script src="/emailcheck/email.js"></script>
<script>
    //忘記密碼
    function send() {
        var kkk = {
            subject: '魔人揪揪團隊發送',
            to: $("#contact-name").val()
        };
        $.ajax({
            url: "/test/ForgetPassWord",
            type: "post",
            data: kkk,
            dataType: "Json",
            success: function (data) {
                if (data == "false") {
                    alert('email地址無效')
                    return false;
                }
                else {

                    var html = "";

                    html = '<div class="form-group">';
                    var userid= '<input type="text" id="use" class="btn nikki-btn btn-sm m-2" value="' + data + '" style="display:none">';
                    html += '請輸入驗證碼:';
                    html += '<input type="text" id="check-random-number" name="check-random-number" class="btn nikki-btn btn-sm m-2">';
                    html += '</div>';
                    html += '<button type="button" class="btn nikki-btn btn-sm m-2" onclick="imsure()">驗證</button>';
                    html += '<button type="button" class="btn nikki-btn btn-sm m-2" onclick="fuck()">返回登入</button>';
                    html += '<button type="button" class="btn nikki-btn btn-sm m-2" id="re-send-random">重新發送</button>';
                    $("#check-send-password").html(html);
                    $("#hideuserid").html(userid);
                    alert('發送成功')
                    //alert(data);
                }

            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function imsure() {
        var password = $("#check-random-number").val();
        $.ajax({
            url: "/test/identifyrandom",
            type: "POST",
            data: { password: password },
            dataType: "Json",
            success: function (data) {
                if (data == "false") {
                    //做驗證倒數計時
                    alert("驗證碼錯誤")
                }
                if (data == "true") {
                    alert("驗證碼正確")
                    var html = "";
                    html = '<div class="form-group">';
                    html += '請輸入新的密碼:';
                    html += '<input type="password" id="check-random-number" name="first-password" class="btn nikki-btn btn-sm m-2"></br>';
                    html += '請再輸一次密碼:';
                    html += '<input type="password" id="second-password" name="second-password" class="btn nikki-btn btn-sm m-2">'
                    html += '</div>';
                    html += '<button type="button" class="btn nikki-btn btn-sm m-2" onclick="redirectpassword()">確定</button>';
                    html += '<button type="button" class="btn nikki-btn btn-sm m-2" onclick="fuck()">返回登入</button>';
                    $("#check-send-password").html(html);

                }
            }
        })
    }

    function fuck() {
        window.location.href = "/test/Login";
    }

    $("#re-send-random").click(function () {

    })
    function redirectpassword() {
        var first = $("#check-random-number").val();
        var second = $("#second-password").val();
        var id = $("#use").val();
        $.ajax({
            url: "/test/redirectpassword",
            type: "POST",
            data: { first: first, second: second,id:id },
            dataType: "Json",
            success: function (data) {
                if (data == "false") {
                    alert("密碼驗證錯誤");
                }
                if (data == "true") {
                    alert("密碼重置成功成功,請重新登入");
                    window.location.href = "/test/Login"
                }
            }
        })
    }

</script>



